/* container of Semester and IPK */
.card-indentity .card-stats {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: var(--size-16);
}

/* devider line */
.card-indentity .card-stats::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--border);
}

/* Semester and IPK */
.stat-group .stat-label {
  font-size: var(--fz-base);
  font-weight: var(--fw-medium);
  margin-bottom: var(--size-4);
  color: var(--text-secondary);
}

.stat-group .stat-value {
  font-size: var(--fz-base);
  font-weight: var(--fw-semibold);
  color: var(--text-tertiary);
}

/* button download KTM */
.card-indentity button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-8);
  width: 100%;
  color: #fff;
  background-color: #2563eb;
  font-weight: var(--fw-medium);
  margin-top: var(--size-12);
  padding-block: var(--size-12);
  border-radius: var(--size-24);
  border: none;
  transition: background-color 0.3s ease;
}
.card-indentity button:hover {
  background-color: #1d4ed8;
}
.card-indentity button:active {
  transform: scale(0.97);
  transition: transform 0.1s ease;
}

/* Biodata Detail */
.biodata-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: var(--size-36);
  padding: var(--size-32) var(--size-16);
}

/* data */
.biodata-item {
  display: flex;
  align-items: center;
  gap: var(--size-8);
  background-color: color-mix(in srgb, var(--bg-green), transparent 90%);
  padding: var(--size-24) var(--size-16);
  border: 1px solid var(--border-green);
  border-radius: var(--size-8);
  overflow: hidden;
}

.data-value p {
  font-weight: var(--fw-semibold);
  color: var(--green-500);
}

.data-value span {
  display: block;
  color: var(--text-secondary);
  font-weight: var(--fw-medium);
  font-size: var(--fz-sm);
  word-break: break-all;
}

/* A Reminder */
.last-update-data {
  display: flex;
  align-items: flex-start;
  gap: var(--size-12);
  color: #fff;
  background-color: #60a5fa;
  padding: var(--size-16);
  border: 1px solid #1d4ed8;
  border-radius: var(--size-8);
  box-shadow: var(--shadow-md);
}

.last-update-data p span {
  font-weight: var(--fw-bold);
}

/* biodata card: data in the contianer in desktop view */
@media (min-width: 70rem) {
  section .biodata-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: var(--size-16);
  }

  .biodata-card .biodata-item:nth-last-child(1) {
    grid-column: span 2;
  }
}