/* header container */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-secondary);
  border-bottom: 1px solid var(--border);
  box-shadow: var(--shadow-xs);
}

.profile-header {
  display: flex;
}

/* header content mobile version */
.header .student-name-container {
  display: none;
}

/* Student student-name */
.student-name-container h3 {
  font-family: var(--font-poppins);
  font-size: var(--fz-h5);
  font-weight: var(--fw-medium);
  color: var(--text-primary);
}

/* Role */
.student-name-container span {
  font-family: var(--font-poppins);
  font-weight: var(--fw-regular);
  color: var(--text-tertiary);
}

/* photo Profile */
.header img {
  width: clamp(var(--size-40), 8vw, var(--size-56));
  height: clamp(var(--size-40), 8vw, var(--size-56));
  border-radius: 50%;
  box-shadow: var(--shadow-sm);
}
/* container of student profile and theme toggle */
.theme-profile-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: clamp(var(--size-12), 1vw, var(--size-20));
  width: clamp(25%, 2vw, 28%);
}

/* theme icon: moon and sun */
.theme-container span {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

/* deafault condition sun icon is inactive */
.theme-container .sun-icon {
  display: none;
}

/* deafault condition moon-icon is active */
.theme-active {
  display: block;
}

/* header content desktop version */
@media (min-width: 70rem) {
  .header {
    justify-content: space-between;
  }
  .header .menu-icn {
    display: none;
  }

  .header .student-name-container {
    display: block;
    margin-right: var(--size-16);
    text-align: right;
    cursor: default;
  }

  .theme-profile-container{
     width: 100%;
  }
}
